@use 'src/styles/vars' as v;

.mygarden {
  background-image: url(https://images.pexels.com/photos/3708717/pexels-photo-3708717.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: 125%;
  background-position: bottom;
  position: relative;
  background-color: #FFFFFF;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
  height: 95%;
  border-radius: 25px;
  border: 1px black solid;
  &__title {
    color: v.$medium-color;
    font-weight: bold;
    margin-top: v.$m-gut;
    text-align: center;
    font-size: 2rem;
    text-shadow: 2px 2px 1px black;
  }
  &__families {
    transition: ease-in 0.3s;
    margin-left: v.$m-gut;
    display: flex;
    flex-direction: column;
    flex-wrap : wrap;
    height: 90%;
  }
  &__family {
    transition: ease-in 0.3s;
    background: rgb(239,255,251);
    background: linear-gradient(324deg, rgba(239,255,251,1) 0%, rgba(160,255,248,1) 100%, rgba(0,212,255,1) 100%);
    background-color: white;
    padding: 0.5rem;
    margin-top: v.$m-gut;;
    width: 45%;
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    &--image {
      max-height: 32px;
      display : inline-block;
    }
    &--text {
      margin-left: v.$s-gut;
      transform: translate(0%, -50%);
      display : inline-block;
    }
  }
  &__navlink {
    display: block;
  }


  &__emptyboard {
    background: rgb(108,48,12);
    background: linear-gradient(111deg, rgba(108,48,12,1) 0%, rgba(194,129,80,1) 100%);
    background-color: white;
    padding: 0.5rem;
    margin-top: v.$m-gut;;
    width: 45%;
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    &--image {
      border-radius: 50%;
      max-height: 32px;
      display : inline-block;
    }
    &--text {
      margin-left: v.$s-gut;
      transform: translate(0%, -50%);
      display : inline-block;
    }
  }
  &__navlink {
    display: block;
  }
}

@media screen and (max-width:1300px){
  .mygarden {
    &__families {
      margin-left: v.$m-gut;
      display: flex;
      flex-direction: column;
      flex-wrap : nowrap;
      height: 90%;
      overflow: scroll;
    }
    &__family {
      padding: 0.5rem;
      margin-top: v.$m-gut;;
      width: 90%;
      display: inline-block;
      border: 1px solid black;
      border-radius: 10px;
      &--image {
        max-height: 32px;
        display : inline-block;
      }
      &--text {
        margin-left: v.$s-gut;
        transform: translate(0%, -50%);
        display : inline-block;
      }
    }
  }
}

@media screen and (max-width:800px){
  .mygarden {
    &__families {
      margin-left: v.$m-gut;
      display: flex;
      flex-direction: column;
      flex-wrap : wrap;
      height: 90%;
      overflow: scroll;
    }
    &__family {
      padding: 0.5rem;
      margin-top: v.$m-gut;;
      width: 50px;
      height: 50px;
      display: inline-block;
      border: 1px solid black;
      border-radius: 10px;
      &--image {
        max-height: 32px;
        display : inline-block;
      }
      &--text {
        display: none;
        margin-left: v.$s-gut;
        transform: translate(0%, -50%);
      }
    }
  }
}
