@use 'src/styles/vars' as v;

.mygarden {
  // background-image: url(https://previews.123rf.com/images/mikhaylovaelen/mikhaylovaelen1505/mikhaylovaelen150500004/39996520-vue-a%C3%A9rienne-sur-jardin-potager-avec-diff%C3%A9rents-l%C3%A9gumes.jpg);
  // background-image: url(https://previews.123rf.com/images/jojobob/jojobob0811/jojobob081100505/3817859-une-vue-a%C3%A9rienne-d-un-petit-jardin-potager-en-toscane-italie.jpg);
  background-image: url(https://previews.123rf.com/images/gopause/gopause1204/gopause120400256/13428230-vue-a%C3%A9rienne-du-potager.jpg);
  background-size: 125%;
  // background-position: center;
  position: relative;
  background-color: #FFFFFF;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
  height: 95%;
  border-radius: 25px;
  border: 1px black solid;
  &__title {
    color: v.$medium-color;
    font-weight: bold;
    margin-top: v.$m-gut;
    text-align: center;
    font-size: 2rem;
    text-shadow: 2px 2px 1px black;
  }
  &__families {
    margin-left: v.$m-gut;
    display: flex;
    flex-direction: column;
    flex-wrap : wrap;
    height: 90%;
  }
  &__family {
    padding: 0.5rem;
    margin-top: v.$m-gut;;
    width: 45%;
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    &--image {
      max-height: 32px;
      display : inline-block;
    }
    &--text {
      margin-left: v.$s-gut;
      transform: translate(0%, -50%);
      display : inline-block;
    }
  }
  &__navlink {
    display: block;
  }
}

@media screen and (max-width:1300px){
  .mygarden {
    &__families {
      margin-left: v.$m-gut;
      display: flex;
      flex-direction: column;
      flex-wrap : nowrap;
      height: 90%;
      overflow: scroll;
    }
    &__family {
      padding: 0.5rem;
      margin-top: v.$m-gut;;
      width: 90%;
      display: inline-block;
      border: 1px solid black;
      border-radius: 10px;
      &--image {
        max-height: 32px;
        display : inline-block;
      }
      &--text {
        margin-left: v.$s-gut;
        transform: translate(0%, -50%);
        display : inline-block;
      }
    }
  }
}

@media screen and (max-width:800px){
  .mygarden {
    &__families {
      margin-left: v.$m-gut;
      display: flex;
      flex-direction: column;
      flex-wrap : wrap;
      height: 90%;
      overflow: scroll;
    }
    &__family {
      padding: 0.5rem;
      margin-top: v.$m-gut;;
      width: 50px;
      height: 50px;
      display: inline-block;
      border: 1px solid black;
      border-radius: 10px;
      &--image {
        max-height: 32px;
        display : inline-block;
      }
      &--text {
        display: none;
        margin-left: v.$s-gut;
        transform: translate(0%, -50%);
      }
    }
  }
}
