@use 'src/styles/vars' as v;

.profile {
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
  background-color: v.$white-color;
  padding: 2em;
  margin: 2em auto;
  border: 1px lightgrey solid;
  border-radius: 0.7em;
  &__buttonedition {
    text-align: center;
  }
  &__title {
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 1rem;
  }
  &__container {
    text-align: left;
    overflow: hidden;
  }
  &__info {
    overflow: hidden;
    margin-top: v.$xs-gut;
    &__type {
      padding: v.$xs-gut;
      margin-left: v.$xs-gut;
      font-size: 1.1rem;
      font-weight: bold;
      display: inline-block;
      min-width: 25%;
    }
    &__text {
      color: v.$black-color;
      width: 100%;
      max-width: 300px;
      padding: .7em;
      margin: 0.5em 0;
      font-size: 1em;
      border: none;
      border-bottom: 2px solid darkgrey;
      // border-radius: 0.7em;
      height: 2.5em;
    }
    &__input {
      color: v.$black-color;
      width: 100%;
      max-width: 300px;
      padding: .7em;
      margin: 0.5em 0;
      font-size: 1em;
      border: none;
      border-bottom: 2px solid darkgrey;
      // border-radius: 0.7em;
      height: 2.5em;
    }
  }
}

@media screen and (min-width:480px){

  .profile {
    width: 350px;
  }
}
