@use 'src/styles/vars' as v;

.operation {
  background-image: url(https://images.pexels.com/photos/296230/pexels-photo-296230.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: 120%;
  background-position: right;
  background-color: #FFFFFF;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
  height: 70%;
  border-radius: 25px;
  border: 1px black solid;
  &__title {
    margin-top: v.$s-gut;
    text-align: center;
    font-size: 1.5rem;
  }
}

@media screen and (max-width:800px){
  .operation {
    margin-top: 0.5rem;
  }
}
