@use 'src/styles/vars' as v;

.profileEdit {

  margin: 1em auto;
  text-align: center;
  background-color: v.$white-color;
  padding: 0.5em;
  margin: 2em auto;
  border: 1px lightgrey solid;
  border-radius: 0.7em;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
  overflow: hidden;
  &__buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__button {
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 1em;
    padding: 0.5em;
    border-radius: 0.7em;
    border: 2px solid v.$dark-color;
    background-color: v.$medium-color;
    font-weight: 600;
    color: white;
    &--cancel{
      background-color: v.$darker-color;
    }
  }
  &__title {
    margin-top: v.$s-gut;
    margin-bottom: v.$s-gut;
    font-size: 1.5rem;
  }
  &__container {
    text-align: left;
  }
  &__info {
    overflow: hidden;
    margin-top: v.$xs-gut;
    &__type {
      display: block;
      padding: v.$xs-gut;
      margin-left: v.$xs-gut;
      font-size: 1.1rem;
      font-weight: bold;
      display: inline-block;
      min-width: 25%;
    }
    &__input {
      border: none;
      font-size: 1.1rem;
      margin-left : v.$s-gut;
      text-align: center;
      font-weight: normal;
      background-color: white;
      width: 100%;
      padding: v.$xs-gut;
      border: none;
      border-bottom: 2px solid darkgrey;
      display: inline-block;
    }
  }
}

@media screen and (min-width:480px){

  .profileEdit {
    width: 350px;
    padding: 2em;
  }
}
