@use 'src/styles/vars' as v;

.weather {
  background-color: #FFFFFF;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
  height: 25%;
  border-radius: 25px;
  border: 1px black solid;
  &__title {
    margin-top: v.$m-gut;
    text-align: center;
    font-size: 1.5rem;
  }
  &__temp {
    margin-top: v.$s-gut;
    text-align: center;
    font-size: 1.3rem;
  }
  &__name {
    margin-top: v.$s-gut;
    text-align: center;
    font-size: 1.3rem;
  }
}
