@use 'src/styles/vars' as v;

.commentfield {
  margin-top : v.$s-gut;
  text-align: center;
  &__input {
    min-width: 50%;
    font-size: 1.3rem;
    padding: 0.3rem;
    border-radius: 15px;
    border: 1px solid black;
    resize: none
  }
}
