$xs-gut : 0.5rem;
$s-gut : 1rem;
$m-gut : 1.5rem;
$l-gut : 2rem;

$medium-color: #72B57A;
$dark-color: #4A754F;
$lighter-color: #9AF5A5;
$darker-color: #223624;
$light-color: #8ADA94;

$white-color: #FFFFFF;
$palewhite-color: #f9f6ed;
$black-color: black;

$width-loader: 9rem;
$time: 3s;
