@use 'src/styles/vars' as v;

.navigation {
  text-align: center;
  background-color: v.$dark-color;
  &__nav {
    &__link {
      display: inline-block;
      color: white;
      width: 150px;
      margin: 0.25rem 0.25rem;
      font-size: 1.5rem;

      padding: 0.25rem;
      
      border: solid white 1px;
      border-radius: 20px;
    }
  }
}
