@use 'src/styles/vars' as v;

.varietyfield {
  text-align: center;
  & select {
    min-width: 50%;
    margin-top : v.$s-gut;
    border-radius: 15px;
    padding: 1rem 3rem 1rem 3rem;
    border: none;
    background-color: v.$medium-color;
    font-size: 1rem;
  }
  & option {
    padding: 1rem;
  }
}
