@use 'src/styles/vars' as v;


.jardinconnectes {
  width: 95%;
  height: 100vh;
  margin: 0 auto;
}

@media screen and (min-width:640px){

  .jardinconnectes {
    width: 95%;
  }

}

@media screen and (min-width:800px){

  .jardinconnectes {
    width: 100%;
    background-color: #F2F2F2;
    
  }

}


