@use 'src/styles/vars' as v;



.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: v.$white-color;
  height: 5em;
  align-items: center;
  background-image: url(https://images.pexels.com/photos/4112228/pexels-photo-4112228.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: 100%;
  background-position: center -30rem;

  &-links{
    display:flex;
    flex-direction: column;
    &-link {
      visibility: hidden;
      width: 80px;
      margin: 0.1rem 0.1rem;
      font-size: 0.8rem;
  
      padding: 0.25rem;
      
      border: solid v.$darker-color 1px;
      border-radius: 20px;

      transition: ease-in 0.2s;
      background-color: v.$dark-color;
    }
    &-link:hover {
      background-color: v.$darker-color;
      color: white;
    }
  }

  &-title {
    font-size: 2rem;
    font-family: "Capture It";
    text-shadow: 2px 2px 1px black;
  }
}

.navMobile {
  visibility: visible;
  position: absolute;
  right: 1em;
}

@media screen and (min-width:480px){
  .navMobile {
    visibility: hidden;
  }
  .header{
    &-links{
      &-link{
        visibility: visible;
      }
    }
  }
}

@media screen and (min-width:800px){
  .header {
    text-align: center;
    height: 5em;
    align-items: center;
    color: v.$white-color;
  
    &-links{
  
      &-link {
        width: 150px;
        margin: 0.25rem 0.25rem;
        font-size: 1rem;
    
        padding: 0.25rem;
        
        border: solid v.$darker-color 1px;
        border-radius: 20px;
      }
    }
  
    &-title {
      font-size: 2.5rem;
    }
  
  
  }
}

@media screen and (min-width:1200px){
  .header {
    text-align: center;
    color: v.$white-color;
    height: 5em;
    align-items: center;
  
    &-links{
  
      &-link {
        width: 150px;
        margin: 0.25rem 0.25rem;
        font-size: 1rem;
    
        padding: 0.25rem;
        
        border: solid v.$darker-color 1px;
        border-radius: 20px;
      }
    }
  
    &-title {
      font-size: 3.5rem;
    }
  
  
  }
}
